.hea {
  margin-left: 25px;
  font-weight: bolder;
  font-size: larger;
  text-transform: uppercase;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(153, 13, 13);
}
.search-bar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  height: 30px;
  input {
    width: 40%;
    border: none;
    box-shadow: 0px 0px 3px 2px rgb(255, 134, 86);
    border-radius: 6px;
    height: 28px;
    padding-left: 10px;
  }
}
.donor-home-main-donor-listings {
  display: flex;
  height: 500px;
  flex-direction: column;
  gap: 25px;
  padding: 25px;
  font-weight: bolder;

  .header {
    font-size: larger;
  }
  .listing-container-home {
    box-shadow: 0 0 10px grey;
    height: 350px;
    border-radius: 8px;
  }
  .listing-card {
    display: flex;
    background-color: rgb(195, 209, 221);
    border-radius: 10px;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    height: 310px;
    width: 300px;
    padding: 10px 30px;
    margin: 20px auto;
    img {
      height: 150px;
      width: 100%;
      object-fit: cover;
    }
    .listing-card-loc-category {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      font-weight: 400;
      font-size: 14px;
      .itemcat {
        background-color: rgb(201, 74, 10);
        color: white;
        text-align: center;
        padding: 5px 10px;
        border-radius: 10px;
      }
      .item-veg {
        background-color: rgb(21, 114, 12);
        color: white;
        text-align: center;
        padding: 8px 10px;
        border-radius: 10px;
      }
    }
    .listing-card-time {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      font-weight: 400;
      font-size: 14px;
    }
  }

  .listing-card:hover {
    scale: 1.05;
    transition: all 500ms;
    /* box-shadow: 0 0 15px 0 red; */
    /* 
    img {
      scale: 1.05;
      transition: all 500ms;
    }
    p {
      transition: all 500ms;
    } */
  }
  .card-booked {
    background-color: rgb(158, 158, 158);
    font-weight: 600;
  }
  .card-booked:hover {
    scale: 1;
    box-shadow: none;
    img {
      scale: 1;
      transition: all 500ms;
    }
  }
}
.react-multi-carousel-list {
  padding: 0rem 0 2rem 0;
}

.custom-dot-list-style button {
  border: none;
  background: rgb(255, 68, 68);
}
.react-multi-carousel-dot.react-multi-carousel-dot--active button {
  background: rgb(255, 68, 68) !important;
}
