.navUser-main {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 25px;
  background-color: rgba(223, 232, 232, 0.815);
  .navUser-main-cont-right {
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 17px;
    img {
      height: 40px;
      width: 40px;
      object-fit: cover;
      border-radius: 100px;
    }
    img:hover {
      scale: 1.1;
      transition: 200ms;
    }
  }
  .navUser-main-cont-left {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 10px;
    img {
      height: 80%;
    }
  }
}
.NavLink {
  text-decoration: none;
  color: black;
}
.NavLink:hover {
  scale: 1.1;
  transition: 500ms;
}
.active {
  color: rgb(196, 23, 23);
}
